@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Source Sans Pro', sans-serif;
}

.banner {
    background-position-x: 62%;
}

.or {
    width: 100%; 
    text-align: center; 
    border-bottom: 4px solid rgb(255, 255, 255); 
    line-height: 0em;
    margin: 10px 0 20px; 
 } 
 
 .or span { 
     background:rgb(0, 0, 0); 
     padding:0 20px; 
 }

 .white-outline-text {
    text-shadow: 2px 3px 7px white
 }