body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
  }
  
  .container {
    background-color: black;
    line-height: 1.5;
    margin: 1 rem;
    padding: 40px 25px;
  }
  
  abbr {
    font-style: italic;
    position: relative
  }
  
  abbr:hover::after {
    background: #add8e6;
    border-radius: 4px;
    bottom: 100%;
    content: attr(title);
    display: block;
    left: 100%;
    padding: 1em;
    position: absolute;    
    width: 280px;
    z-index: 1;
  }
  